<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.she.safety.psm.mapper.AuditPlanMapper">
    
    <select id="getAuditPlans" resultType="com.she.safety.model.SafPsmAuditRslt">
        /* AuditPlanMapper.getAuditplans [AuditPlanMapper.xml] */
        SELECT spar.audit_rslt_no
            , plant.code_nm AS plant_nm
            , spar.audit_year
            , spar.audit_nm
            , convert(char(10), spar.target_start_dt, 23) + '~' +convert(char(10), spar.target_end_dt, 23) AS target_dt
            , convert(char(10), spar.audit_start_dt, 23) + '~' +convert(char(10), spar.audit_end_dt, 23) AS audit_dt
            , ccm.code_nm AS audit_type_nm
            , pps.code_nm AS psm_prog_state_nm
            , convert(char(10), spar.create_dt, 23) AS create_dt
            , convert(char(10), spar.update_dt, 23) AS update_dt
            , ar.biz_appr_step_cd AS plan_appr_rqst_cd
            , ISNULL(ar.code_nm, '결재요청전') AS plan_appr_rqst_nm            
            , spar.plan_appr_rqst_no
            , case
                 when dbo.GET_USER_NM(spar.update_user_id) = '' then dbo.GET_USER_NM(spar.create_user_id)
                 else dbo.GET_USER_NM(spar.update_user_id) end    as writer_user_nm
            , case when spar.update_dt is null then convert(date, spar.create_dt) else convert(date, spar.update_dt) end   as writer_dt
        FROM saf_psm_audit_rslt spar
        INNER JOIN dbo.LANG_CODE_MASTER(#{defaultParam.lang}, 'COM_PLANT_CD')  plant
              ON spar.plant_cd = plant.code
        INNER JOIN dbo.LANG_CODE_MASTER(#{defaultParam.lang}, 'AUDIT_TYPE')  ccm
              ON spar.audit_type = ccm.code
        LEFT JOIN dbo.LANG_CODE_MASTER(#{defaultParam.lang}, 'PSM_PROG_STATE')  pps
             ON spar.psm_prog_state = pps.code
        LEFT JOIN (
                    SELECT appr_rqst_no
                        , ccm.code_nm
                        , car.biz_appr_step_cd
                    FROM com_appr_rqst car
                    INNER JOIN  dbo.LANG_CODE_MASTER(#{defaultParam.lang}, 'COM_BIZ_APPR_STEP')  ccm
                        ON ccm.code = car.biz_appr_step_cd
                    ) ar
            ON  ar.appr_rqst_no = spar.plan_appr_rqst_no
        WHERE 1=1 
        -- spar.psm_prog_state IN ('PPS10', 'PPS20')
        <if test="parameter.plantCd != null and !''.equals(parameter.plantCd)">
            AND spar.plant_cd = #{parameter.plantCd}
        </if>
        <!-- <if test="auditYear != null and !''.equals(auditYear)">
            AND spar.audit_year = #{auditYear}
        </if> -->
        <if test="parameter.auditType != null and !''.equals(parameter.auditType)">
            AND spar.audit_type = #{parameter.auditType}      
        </if>
        <if test="parameter.auditNm != null and !''.equals(parameter.auditNm)">
            AND spar.audit_nm like '%' + #{parameter.auditNm} + '%'    
        </if>
        <if test="parameter.startYear != null and !''.equals(parameter.startYear)">
            AND spar.audit_year >= #{parameter.startYear}
        </if>
        <if test="parameter.endYear != null and !''.equals(parameter.endYear)">
            AND spar.audit_year <![CDATA[ <= ]]> #{parameter.endYear}
        </if>
         <if test="parameter.psmProgState != null and !''.equals(parameter.psmProgState)">
            AND spar.psm_prog_state = #{parameter.psmProgState}      
        </if>
        ORDER BY writer_dt DESC, spar.create_dt DESC
    </select>
    
    <insert id="createSafPsmAuditRslt" parameterType="com.she.safety.model.SafPsmAuditRslt">
        /* AuditPlanMapper.createSafPsmAuditRslt [AuditPlanMapper.xml] */
        <selectKey keyProperty="auditRsltNo" resultType="int" order="BEFORE">
            SELECT (next value for seq_saf_psm_audit_rslt) as auditRsltNo
        </selectKey>
        INSERT INTO saf_psm_audit_rslt(
            audit_rslt_no
            , plant_cd
            , audit_type
            , audit_year
            , target_start_dt
            , target_end_dt
            , audit_start_dt
            , audit_end_dt
            , audit_nm
            , senior_audidor_role
            , audidor_role
            , senior_auditor_remark
            , auditor_remark
            , remark
            , next_remark
            , psm_prog_state
            , create_user_id
            , create_dt
        ) VALUES (
            #{auditRsltNo}
            , #{plantCd}
            , #{auditType}
            , #{auditYear}
            , #{targetStartDt}
            , #{targetEndDt}
            , #{auditStartDt}
            , #{auditEndDt}
            , #{auditNm}
            , #{seniorAudidorRole}
            , #{audidorRole}
            , #{seniorAuditorRemark}
            , #{auditorRemark}
            , #{remark}
            , #{nextRemark}
            , #{psmProgState}
            , #{createUserId}
            , GETDATE()
        )
    </insert>
    
    <insert id="createSafPsmAuditRsltDept" parameterType="com.she.safety.model.SafPsmAuditRsltDept">
        /* AuditPlanMapper.createSafPsmAuditRsltDept [AuditPlanMapper.xml] */
        INSERT INTO saf_psm_audit_rslt_dept (
            audit_rslt_no
            , target_dept_cd
        ) VALUES (
            #{auditRsltNo}
            , #{targetDeptCd}
        )
    </insert>
    
    <insert id="createSafPsmAuditRsltUser" parameterType="com.she.safety.model.SafPsmAuditRsltUser">
        /* AuditPlanMapper.createSafPsmAuditRsltUser [AuditPlanMapper.xml] */
        INSERT INTO saf_psm_audit_rslt_user (
            audit_rslt_no
            , audit_user_no
            , remark
            , create_user_id
            , create_dt
        ) VALUES (
            #{auditRsltNo}
            , #{auditUserNo}
            , #{remark}
            , #{createUserId}
            , GETDATE()
        )
    </insert>
    
    <insert id="createSafPsmAuditRsltStd" parameterType="com.she.safety.model.SafPsmAuditRsltStd">
        /* AuditPlanMapper.createSafPsmAuditRsltStd [AuditPlanMapper.xml] */
        <selectKey keyProperty="auditRsltDeptStdNo" resultType="int" order="BEFORE">
            SELECT (next value for seq_saf_psm_audit_rslt_dept_std) as auditRsltDeptStdNo
        </selectKey>
        INSERT INTO saf_psm_audit_rslt_dept_std (
            audit_rslt_dept_std_no
            , audit_rslt_no
            , target_dept_cd
            , audit_std_no
            , auditor_user_id
            , create_user_id
            , create_dt
        ) VALUES (
            #{auditRsltDeptStdNo}
            , #{auditRsltNo}
            , #{targetDeptCd}
            , #{auditStdNo}
            , #{auditorUserId}
            , #{createUserId}
            , GETDATE()
        )
    </insert>
    
    <insert id="createSafPsmAuditRsltItem" parameterType="com.she.safety.model.SafPsmAuditRsltStd">
        /* AuditPlanMapper.createSafPsmAuditRsltItem [AuditPlanMapper.xml] */
        INSERT INTO saf_psm_audit_rslt_dept_item (
            audit_rslt_dept_item_no 
            , audit_rslt_no
            , target_dept_cd
            , audit_item_no
            , audit_std_no
            , create_user_id
            , create_dt )
        SELECT (next value for seq_saf_psm_audit_rslt_dept_item)
            , spars.audit_rslt_no
            , spars.target_dept_cd
            , spai.audit_item_no
            , spars.audit_std_no
            , #{createUserId}
            , GETDATE()
        FROM saf_psm_audit_rslt_dept_std spars 
        INNER JOIN saf_psm_audit_item spai
            ON spai.audit_std_no = spars.audit_std_no
        WHERE spars.audit_rslt_no = #{auditRsltNo}
            AND spars.audit_std_no = #{auditStdNo}
            AND spars.target_dept_cd =  #{targetDeptCd}
    </insert>
    
    <select id="getSafPsmAuditRslt" resultType="com.she.safety.model.SafPsmAuditRslt">
        /* AuditPlanMapper.getSafPsmAuditRslt [AuditPlanMapper.xml] */
        SELECT spar.audit_rslt_no
            , spar.plant_cd
            , spar.audit_type
            , spar.audit_year
            , spar.target_start_dt
            , spar.target_end_dt
            , spar.audit_start_dt
            , spar.audit_end_dt
            , spar.audit_nm
            , spar.senior_audidor_role
            , spar.audidor_role
            , spar.senior_auditor_remark
            , spar.auditor_remark
            , spar.remark
            , spar.next_remark
            , spar.psm_prog_state
            , spar.plan_appr_rqst_no
            , apprRequest.biz_appr_step_cd AS plan_appr_rqst_cd
            , apprRequestStep.code_nm AS plan_appr_rqst_nm
        from saf_psm_audit_rslt spar
   left join com_appr_rqst apprRequest
          on apprRequest.appr_rqst_no = spar.plan_appr_rqst_no
   left join dbo.LANG_CODE_MASTER(#{defaultParam.lang}, 'COM_BIZ_APPR_STEP')  apprRequestStep
        on apprRequestStep.code = apprRequest.biz_appr_step_cd
       WHERE audit_rslt_no = #{auditRsltNo}
    </select>
    
    <select id="getSafPsmAuditRsltDepts" resultType="com.she.safety.model.SafPsmAuditRsltDept">
        /* AuditPlanMapper.getSafPsmAuditRsltDepts [AuditPlanMapper.xml] */
        SELECT spard.audit_rslt_no
            , spard.target_dept_cd
            , cd.dept_nm AS target_dept_nm
        FROM saf_psm_audit_rslt_dept spard
        INNER JOIN com_dept cd 
            ON cd.dept_cd = spard.target_dept_cd
        WHERE spard.audit_rslt_no = #{auditRsltNo}
        ORDER BY spard.audit_rslt_no, spard.target_dept_cd
    </select>
    
    <select id="getSafPsmAuditRsltUsers" resultType="com.she.safety.model.SafPsmAuditRsltUser">
        /* AuditPlanMapper.getSafPsmAuditRsltUsers [AuditPlanMapper.xml] */
        SELECT sparu.audit_rslt_no
            , sparu.audit_user_no
            , sparu.remark
            , ccm.code_nm as audit_type_nm
            , spau.dept_nm
            , cu.duty_nm
            , cu.user_nm
            , spau.major_desc
            , spau.career_desc
            , spau.edu_desc
            , spau.certi_desc
        FROM saf_psm_audit_rslt_user sparu
        INNER JOIN saf_psm_audit_user spau 
            ON  spau.audit_user_no = sparu.audit_user_no
        INNER JOIN dbo.LANG_CODE_MASTER(#{defaultParam.lang}, 'AUDIT_TYPE_CD')  ccm
              ON spau.audit_type_cd = ccm.code
        INNER JOIN com_user cu
            ON cu.user_id = spau.user_id
        WHERE sparu.audit_rslt_no = #{auditRsltNo}
        ORDER BY sparu.create_dt desc
    </select>
    
    <select id="getSafPsmAuditRsltStds" resultType="com.she.safety.model.SafPsmAuditRsltStd">
        /* AuditPlanMapper.getSafPsmAuditRsltStds [AuditPlanMapper.xml] */
        SELECT a.audit_std_no
            , a.audit_rslt_no
            , spas.audit_std_desc
            , spas.audit_std_nm
        FROM (
            SELECT DISTINCT audit_std_no
             , audit_rslt_no
            FROM saf_psm_audit_rslt_dept_std
            WHERE audit_rslt_no = #{auditRsltNo}
        ) a
        INNER JOIN saf_psm_audit_std spas
            ON spas.audit_std_no = a.audit_std_no
        ORDER BY spas.sort_order
    </select>
    
    <select id="getSafPsmAuditRsltItems" resultType="com.she.safety.model.SafPsmAuditRsltItem">
        /* AuditPlanMapper.getSafPsmAuditRsltItems [AuditPlanMapper.xml] */
        SELECT a.audit_item_no
            , a.audit_std_no
            , a.audit_rslt_no
            , spai.audit_item_nm
            , spas.audit_std_nm
            , spai.remark
        FROM (
            SELECT DISTINCT audit_item_no
                , audit_std_no
                , audit_rslt_no
            FROM saf_psm_audit_rslt_dept_item
        ) a
        INNER JOIN saf_psm_audit_item spai
                    ON spai.audit_item_no = a.audit_item_no
        INNER JOIN saf_psm_audit_std spas
            ON spas.audit_std_no = a.audit_std_no
        WHERE a.audit_std_no = #{auditStdNo}
        ORDER BY spai.sort_order
    </select>
    
    <update id="updateSafPsmAuditRslt" parameterType="com.she.safety.model.SafPsmAuditRslt">
        /* AuditPlanMapper.updateSafPsmAuditRslt [AuditPlanMapper.xml] */
        UPDATE saf_psm_audit_rslt
        SET plant_cd = #{plantCd}
            , audit_type = #{auditType}
            , audit_year = #{auditYear}
            , target_start_dt = #{targetStartDt}
            , target_end_dt = #{targetEndDt}
            , audit_start_dt = #{auditStartDt}
            , audit_end_dt = #{auditEndDt}
            , audit_nm = #{auditNm}
            , senior_audidor_role = #{seniorAudidorRole}
            , audidor_role = #{audidorRole}
            , senior_auditor_remark = #{seniorAuditorRemark}
            , auditor_remark = #{auditorRemark}
            , remark = #{remark}
            , psm_prog_state = #{psmProgState}
            , update_user_id = #{updateUserId}
            , update_dt = GETDATE()
        WHERE audit_rslt_no = #{auditRsltNo}
    </update>
    
    <update id="updateSafPsmAuditRsltUser" parameterType="com.she.safety.model.SafPsmAuditRsltUser">
        /* AuditPlanMapper.updateSafPsmAuditRsltUser [AuditPlanMapper.xml] */
        UPDATE saf_psm_audit_rslt_user
        SET remark = #{remark}
            , update_user_id = #{updateUserId}
            , update_dt = GETDATE()
        WHERE audit_rslt_no = #{auditRsltNo}
            AND audit_user_no = #{auditUserNo}
    </update>
    
    <update id="updateSafPsmAuditRsltStd" parameterType="com.she.safety.model.SafPsmAuditRsltStd">
        /* AuditPlanMapper.updateSafPsmAuditRsltStd [AuditPlanMapper.xml] */
        UPDATE saf_psm_audit_rslt_dept_std
        SET update_user_id = #{updateUserId}
            , update_dt = GETDATE()
        WHERE audit_rslt_no = #{auditRsltNo}
            AND target_dept_cd = #{targetDeptCd}
            AND audit_rslt_dept_std_no = #{auditRsltDeptStdNo}
    </update>
    
    <delete id="deleteSafPsmAuditRsltDept">
        /* AuditPlanMapper.deleteSafPsmAuditRsltDept [AuditPlanMapper.xml] */
        DELETE FROM saf_psm_audit_rslt_dept
        WHERE audit_rslt_no = #{auditRsltNo}
    </delete>
    
    <delete id="deleteSafPsmAuditRsltUser" parameterType="com.she.safety.model.SafPsmAuditRsltUser">
        /* AuditPlanMapper.deleteSafPsmAuditRsltUser [AuditPlanMapper.xml] */
        DELETE FROM saf_psm_audit_rslt_user
        WHERE audit_rslt_no = #{auditRsltNo}
            AND audit_user_no = #{auditUserNo}
    </delete>
    
    <delete id="deleteSafPsmAuditRsltStd" parameterType="com.she.safety.model.SafPsmAuditRsltStd">
        /* AuditPlanMapper.deleteSafPsmAuditRsltStd [AuditPlanMapper.xml] */
        DELETE FROM saf_psm_audit_rslt_dept_std
        WHERE audit_rslt_no = #{auditRsltNo}
            AND audit_rslt_dept_std_no = #{auditRsltDeptStdNo}
    </delete>
    
    <delete id="deleteSafPsmAuditRsltItem" parameterType="com.she.safety.model.SafPsmAuditRsltStd">
        /* AuditPlanMapper.deleteSafPsmAuditRsltItem [AuditPlanMapper.xml] */
        DELETE FROM saf_psm_audit_rslt_dept_item
        WHERE audit_rslt_no = #{auditRsltNo}
            AND audit_std_no = #{auditStdNo}
    </delete>
    
    <delete id="deleteSafPsmAuditRsltItemAll">
        /* AuditPlanMapper.deleteSafPsmAuditRsltItemAll [AuditPlanMapper.xml] */
        DELETE FROM saf_psm_audit_rslt_dept_item
        WHERE audit_rslt_no = #{auditRsltNo}
    </delete>
    
    <delete id="deleteSafPsmAuditRsltStdAll">
        /* AuditPlanMapper.deleteSafPsmAuditRsltStdAll [AuditPlanMapper.xml] */
        DELETE FROM saf_psm_audit_rslt_dept_std
        WHERE audit_rslt_no = #{auditRsltNo}
    </delete>
    
    <delete id="deleteSafPsmAuditRsltUserAll">
        /* AuditPlanMapper.deleteSafPsmAuditRsltUserAll [AuditPlanMapper.xml] */
        DELETE FROM saf_psm_audit_rslt_user
        WHERE audit_rslt_no = #{auditRsltNo}
    </delete>
    
    <delete id="deleteSafPsmAuditRslt">
        /* AuditPlanMapper.deleteSafPsmAuditRslt [AuditPlanMapper.xml] */
        DELETE FROM saf_psm_audit_rslt
        WHERE audit_rslt_no = #{auditRsltNo}
    </delete>
    
    <update id="completeImpr">
        /* AuditPlanMapper.completeImpr [AuditPlanMapper.xml] */
        UPDATE saf_psm_audit_rslt
        SET psm_prog_state = #{imprStepCd}
         <if test="imprStepCd != null and !''.equals(imprStepCd)">
                , plan_appr_rqst_no = #{apprRqstNo}
         </if>
        WHERE audit_rslt_no = #{auditRsltNo}
    </update>
    
    <select id= "auditplanCheck" resultType= "int">
        /* AuditPlanMapper.auditplanCheck [AuditPlanMapper.xml] */
       SELECT COUNT(*) AS cnt
         FROM saf_psm_audit_rslt sp
        WHERE sp.plant_cd = #{plantCd}
          AND sp.audit_year = #{auditYear}
    </select>
</mapper>