<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.she.safety.psm.mapper.AuditAnalysisMapper">

    <select id="getAuditResults" resultType="com.she.safety.model.SafPsmAuditRslt">
        /* AuditAnalysisMapper.getAuditResults [AuditAnalysisMapper.xml] */
        SELECT sr.audit_rslt_no
            , sr.audit_nm
            , ccm.sort_order
        FROM saf_psm_audit_rslt sr
        INNER JOIN com_code_master ccm
            ON ccm.code_group_cd = 'PSM_PROG_STATE'
            AND ccm.code = sr.psm_prog_state
        WHERE ccm.sort_order > 3
    </select>

    <select id="getAnalysisStatus" resultType="HashMap">
        /* AuditAnalysisMapper.getAnalysisStatus [AuditAnalysisMapper.xml] */
        <!-- 보안취약점 점검에서 예외처리가 안 될 경우 SP로 사용 -->
        <!--EXEC SP_GET_ANALYSIS_STATUS #{plantCd}, #{year}, #{auditRsltNo}, #{deptCdStr}-->
        SELECT
            a.audit_std_no
            , a.audit_std_nm AS auditStdNm
            <if test="deptCds != null and !''.equals(deptCds)">
            <foreach collection="deptCds" item="deptCd" separator="">
                , Case b.act_dept_cd When #{deptCd} Then sum(b.impr_cnt) ELSE 0 End dept${deptCd}
            </foreach>
            </if>
            , sum(b.impr_cnt) as totImpr
        FROM (
             SELECT ps.audit_std_nm
                , ds.audit_std_no
            FROM saf_psm_audit_rslt ar
            INNER JOIN saf_psm_audit_rslt_dept spard
                 ON spard.audit_rslt_no = ar.audit_rslt_no
            INNER JOIN saf_psm_audit_rslt_dept_std ds
                ON ds.audit_rslt_no = spard.audit_rslt_no
                AND ds.target_dept_cd = spard.target_dept_cd
            INNER JOIN saf_psm_audit_std ps
                ON ps.audit_std_no = ds.audit_std_no
            WHERE ar.psm_prog_state  in ('PPS40', 'PPS50', 'PPS60')
                AND ar.audit_year = #{year}
            <if test="auditRsltNo != null and !''.equals(auditRsltNo)">
                AND ar.audit_rslt_no = #{auditRsltNo}
            </if>
            <if test="plantCd != null and !''.equals(plantCd)">
                AND ar.plant_cd = #{plantCd}
            </if>
            GROUP BY ds.audit_std_no, ps.audit_std_nm
        ) a
        LEFT JOIN (
                 SELECT ri.audit_std_no
                    , ic.act_dept_cd
                    , COUNT(ic.saf_impr_act_no) as impr_cnt
                FROM saf_psm_audit_rslt ar
                INNER JOIN saf_psm_audit_rslt_dept rd
                    ON rd.audit_rslt_no = ar.audit_rslt_no
                INNER JOIN saf_psm_audit_rslt_dept_item ri
                    ON ri.audit_rslt_no = rd.audit_rslt_no
                    AND ri.target_dept_cd = rd.target_dept_cd
                INNER JOIN saf_impr_act ic
                    ON ic.impr_class_cd ='ICL04'
                    AND ic.ref_table_id = ri.audit_rslt_dept_item_no
                    AND ic.del_yn != 'Y'
                WHERE ar.psm_prog_state in ('PPS40', 'PPS50', 'PPS60')
                    AND ar.audit_year = #{year}
                    <if test="auditRsltNo != null and !''.equals(auditRsltNo)">
                        AND ar.audit_rslt_no = #{auditRsltNo}
                    </if>
                    <if test="plantCd != null and !''.equals(plantCd)">
                        AND ar.plant_cd = #{plantCd}
                    </if>
                GROUP BY ri.audit_std_no, ic.act_dept_cd
        ) b ON b.audit_std_no =  a.audit_std_no
        GROUP BY a.audit_std_no, a.audit_std_nm,  act_dept_cd
        ORDER BY a.audit_std_no
    </select>

    <select id="getAnalysisstatusDept" resultType="HashMap">
        SELECT spard.target_dept_cd as dept_cd
            , cd.dept_nm
            , count(sia.saf_impr_act_no) impr_cnt
        FROM saf_psm_audit_rslt spar
        INNER JOIN saf_psm_audit_rslt_dept spard
            ON spard.audit_rslt_no = spar.audit_rslt_no
        INNER JOIN saf_psm_audit_rslt_dept_item spari
            ON spari.audit_rslt_no = spard.audit_rslt_no
            AND spari.target_dept_cd = spard.target_dept_cd
        LEFT JOIN com_dept cd
            ON cd .dept_cd = spard.target_dept_cd
        LEFT JOIN saf_impr_act  sia
            ON sia.impr_class_cd= 'ICL04'
            AND sia.ref_table_id = spari.audit_rslt_dept_item_no
            AND sia.act_dept_cd = spard.target_dept_cd
            AND sia.del_yn != 'Y'
        WHERE spar.psm_prog_state in ('PPS40', 'PPS50', 'PPS60')
        <if test="year != null and !''.equals(year)">
            AND spar.audit_year = #{year}
        </if>
        <if test="auditRsltNo != null and !''.equals(auditRsltNo)">
            AND spar.audit_rslt_no = #{auditRsltNo}
        </if>
        <if test="plantCd != null and !''.equals(plantCd)">
            AND spar.plant_cd = #{plantCd}
        </if>
        GROUP BY spard.target_dept_cd, cd.dept_nm
        ORDER BY dept_cd
    </select>
</mapper>